
/*keyframes used for animation purpose*/
@keyframes example {
    0%   {background-color:darkred;}
    25%  {background-color:wheat;}
    50%  {background-color: palevioletred;}
    100% {background-color:yellowgreen;}
  }

body{
      background-color: wheat;
     /* font-family: 'Staatliches', cursive;   */
}
.header{
    box-shadow: 5px 5px darkred;
    text-align: center;
    font-size: x-large;
    color: darkred;
    font-style: inherit;
    font-family: 'Staatliches', cursive; 
    background-color: tomato;
    border-radius: 2rem;
}
.formContainer{
    box-shadow: 5px 5px black;
    padding: 1rem;
    border-radius: 7rem;
    margin: auto;
    height: 30rem;
    width: 37rem;
    border: 2px solid black;
    background-color: darkred;
    align-content: space-around;
    animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: infinite;
    
}
#signup{
    box-shadow: 2px 2px black;   
    border-radius: 2rem;
    font-family: 'Staatliches', cursive;
    border: 2px solid darkblue;
    background-color: white;
    color: darkblue;
    font-size: xx-large;
    cursor: pointer;
}
#signin{
    box-shadow: 2px 2px black;
    border-radius: 2rem;
    font-family: 'Staatliches', cursive; 
    border: 2px solid black;
    background-color: yellowgreen;
    color: darkgreen;
    font-size:  xx-large;
    cursor: pointer;
    margin-left: 30px;
}
#email{
     box-shadow: 2px 2px black;
     border-radius: 2rem;
     height: 50px; 
     font-size: larger;
     margin-top: 50px;
     margin-left: 180px;
     border: 3px solid black;
     font-weight: bolder;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#password{
     box-shadow: 2px 2px black;
     margin-left: 179px;
     border-radius: 2rem;
     height: 50px;
     font-size: larger;
     margin-top: 50px;
     border: 3px solid black;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: larger;
     font-weight: bolder;
}
.btns{
    margin-top: 70px;
    margin-left: 180px;
}